body{
    border: solid cyan 2px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}





.background-image{
    width: 100%;
    height: 100%;
    object-fit;
}

.introduction{
    display: flex;
    border: solid blue 2px;
    flex-direction: column;
    align-items: center;
}

.mainTitle{
    border: solid red 2px;
    font-size: 40px;
    margin: 20px;
}

.mainSubtitle{
    border:solid red 2px;
    margin: 10px;
}

.forehand{  
    border: solid green 2px;  
    padding-bottom: 40px;
}

.backhand{
    border: solid red 2px;
    padding-bottom: 40px;
    
}

.serve{ 
    border: solid green 2px;
    padding-bottom: 40px;
    
}

.volleyNetGame{
    border: solid green 2px;
    padding-bottom: 40px;
}
















.title{
    font-size: 28px;
    margin: 15px;
    border: solid red 2px;   
}

.subtitle{
    margin: 10px;
    border: solid red 2px;
}

.intro{
    display: flex;
    border: solid yellow 2px;
    flex-direction: column;
    align-items: center;
}

.playerInfo{
    margin: 10px;
}

.forehandPlayer{
    height: 400px;
    width: 300px;
}

/* Carousel */

.carousel {
    position: relative;
    height: 450px;
    width: 80%;
    margin: 0 auto;
}

.carousel__track-container { /* controls .player a little */
    border: solid teal 2px;
    height: 100%;
    position: static;
    overflow: hidden;
    
    
}

.carousel__track {
    margin: 0px;
    padding: 0px;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 300ms ease-in;
}

.carousel__slide { /* controls player slides */
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
}

.carousel__button,.carousel__button--b,.carousel__button--s,.carousel__button--v {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    cursor: pointer;
}

.carousel__button--left,.carousel__button--left--b,.carousel__button--left--s,.carousel__button--left--v {
    left: -40px;
}

.carousel__button--right,.carousel__button--right--b,.carousel__button--right--s,.carousel__button--right--v {
    right: -40px;
}

.carousel__button img,.carousel__button--b img,.carousel__button--s img,.carousel__button--v img { 
    width: 20px;
}

.carousel__nav {
    /*background: pink; */
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.carousel__indicator {
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: rgba(0,0,0,.3);
    margin: 0 12px;
    cursor: pointer;
}

.carousel__indicator.current-slide,.carousel__indicator--b.current-slide--b,.carousel__indicator--s.current-slide--s,.carousel__indicator--v.current-slide--v {
    background: rgba(0,0,0,.75);
}

.is-hidden,.is-hidden--b,.is-hidden--s,.is-hidden--v{ display: none; };

/*player slides styling*/

.player { /*takes place of carousel__image*/
    position: relative;
    width: 100%;
    height: 100%;
}

.PlayerTitle {
    border: solid red 2px;
}

.playerSubtitle {
    border: solid red 2px;
}

.playerImage {
    border: solid red 2px;
    display: flex;
    object-fit: cover;
}

.playerImage img {
    max-width: 400px;
    object-fit: none;
    
}

.playerDiscription {
    max-width: 700px;
    font-size: 20px;
}






