body{
    border: solid cyan 2px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}





.background-image{
    width: 100%;
    height: 100%;
    object-fit;
}

.introduction{
    display: flex;
    border: solid blue 2px;
    flex-direction: column;
    align-items: center;
}

.mainTitle{
    border: solid red 2px;
    font-size: 40px;
    margin: 20px;
}

.mainSubtitle{
    border:solid red 2px;
    margin: 10px;
}

.forehand{  
    border: solid green 2px;  
    padding-bottom: 40px;
}

.backhand{
    display: flex;
    border: solid green 2px;
    flex-direction: column;
}

.serve{
    display: flex; 
    border: solid green 2px;
    flex-direction: column;
}

.volleyNetGame{
    display: flex;
    border: solid green 2px;
    flex-direction: column;
}
















.title{
    font-size: 28px;
    margin: 15px;
    border: solid red 2px;
    
}

.subtitle{
    margin: 10px;
    border: solid red 2px;
}



.intro{
    display: flex;
    border: solid yellow 2px;
    flex-direction: column;
    align-items: center;
}

.playerInfo{
    margin: 10px;
}

.forehandPlayer{
    height: 400px;
    width: 300px;
}

/* Carousel */

.carousel {
    position: relative;
    height: 450px;
    width: 80%;
    margin: 0 auto;
}

.player { /*takes place of carousel__image*/
    width: 100%;
    border: solid blue 2px;
    height: 100%;
}

.carousel__track-container {
    background: lightgreen;
    
    height: 100%;
    position: relative;
    
}

.carousel__track {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.carousel__slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    cursor: pointer;
}

.carousel__button--left {
    left: -40px;
}

.carousel__button--right {
    right: -40px;x
}

.carousel__button img { 
    width: 20px;
}

.carousel__nav {
    /* background: pink; */
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.carousel__indicator {
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: rgba(0,0,0,.3);
    margin: 0 12px;
}

.carousel__indicator.current-slide {
    background: rgba(0,0,0,.75);
}



